h2 {
  border-bottom: 2px solid var(--bs-light);
}

/* Force trestles profile image to be circular */
.quarto-about-trestles img {
  border-radius: 50% !important;
  width: 400px;        
  height: 400px;       
  object-fit: cover;
}