h2 {
  border-bottom: 2px solid var(--bs-light);
}

/* Force trestles profile image to be circular */
.quarto-about-trestles img {
  border-radius: 50% !important;
  width: 300px;        /* adjust size if needed */
  height: 300px;       /* must match width for circle */
  object-fit: cover;
}